nav {
    background-color: grey;
}
nav ul li {
    display: inline;
    flex-wrap: nowrap;
    margin: 300px;
    justify-items: center;
}
h1 {
    background-color: turquoise;
    background-size: cover;
    display: inline;
    flex-wrap: wrap;
}
nav a:hover {
    color: turquoise;
}
body {
    font-family: Nunito, sans-serif;
}

header {
    background-image: url(assets/images/wood.jpg);
    font-size: 25px;
    padding: 15% 10%;
}
header {
    display: block;
}
.body {
    font-family: Nunito, sans-serif;
}
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}
.work {
    background-color: grey;
}
.container {
    text-align: left;
    padding: 5% 10%;
}
section {
    display: block;
}
body {
    font-family: Nunito, sans-serif;
}
footer {
    background-color: grey;
    justify-content: center;
    padding: 20px:
}

body {
    font-family: Nunito, sans-serif;
}
.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.profile-img {
    height: 200px;
    width: 200px;

}
body {
        font-family: Nunito, sans-serif;
    }
h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
.container {
        background-size: cover;
        background-attachment: fixed;
        background-color: grey;
}
section {
        display: block;
    }
body {
        font-family: Nunito, sans-serif;
    }