nav {
    background-color: grey;
}

nav ul li {
    display: inline;
    margin: 30px;
    justify-items: center;
    
}
nav ul li a {
    color: turquoise;
   display: inline;
   text-align: right;
}
h1 {
    background-color: turquoise;
    background-size: cover;
    display: inline;
    flex-wrap: wrap;
}
nav a:hover {
    color: gold;
}

header {
    background-image: url(assets/images/wood.jpg);
    font-size: 25px;
    padding: 15% 0%;
    display: block;
}
.work {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 20px 20px;
    justify-content: space-between;
    background-color: grey;
}
.v1 {
    border-right: 9px solid black;
    height: 200px;
    padding: 1vw;
    text-align: left;
    justify-content: center;
    background-color: grey;
}
.v2 {
    text-align: left;
    border-right: 9px solid black;
    height: 200px;
    background-color: grey;
    display: block;
}
.container {
    display: flex;
    text-align: left;
    padding: 5% 10%;
    background-size: cover;
    background-attachment: fixed;
    background-color: grey;
}
section {
    display: block;
}
footer {
    background-color: grey;
    justify-content: center;
    padding: 20px;
    text-align:left;
    display: block;
}
.p {
    display: block;
    background-color: grey;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.profile-img {
    height: 200px;
    width: 200px;
    padding: 50px;

}
h2 {
       display: flex;
       background-color: grey;
        font-weight: bold;
    
    }